@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: "NeutraDisp";
    src: url(../fonts/NeutraDisp-Titling.otf);
}
@font-face {
    font-family: "franklingothiclt";
    src: url(../fonts/franklingothiclt-demixcmpr-opentype_bigfontsite.com.otf);
}



// Color Variables
$primary-color: #749357;
$primary-box-color: #42711f;


// font variables
$font-stack: 'Poppins', sans-serif;
$heading-font: "NeutraDisp";
$heading-font-2: "franklingothiclt";